@import "./../../styles/variables";

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.toggle-label {
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 26px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .toggle-slider {
    background-color: $header-background;

    &:before {
      transform: translateX(24px);
    }
  }

  &:focus + .toggle-slider {
    box-shadow: 0 0 1px  $header-background;
  }
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
}
